@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f9ff;
}

@layer components {
  .flexCenter {
    @apply flex items-center justify-center;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
